@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;

.transaction-list__item {
	list-style: none;
	background-color: #fff;
	color: #333;
	// display: flex;
	// justify-content: space-between;
	// position: relative;
}

.expense {
	border-right: 8px solid $highlight-Red;
}

.income {
	border-right: 8px solid $highlight-Green;
}

.transaction-card {
	@include boxShadow;
	padding: 0.625rem;
	margin: 1rem 0 1rem;
	display: flex;
	justify-content: space-between;
	border-radius: 0.5rem;

	&__icon {
		background-color: none;
		color: $highlight-Red;
		// padding: 0.5rem;
		// width: 1.5rem;
		height: 1.2rem;
	}

	&__delete-btn {
		background: none;
		border: none;
		width: 1.5rem;
		height: 1.5rem;
	}

	&__description-text {
		@include mobileBodyLarge;
		font-weight: 700;
		margin: 0.5rem 0;
		color: $primary-Black;
	}
	&__details {
		&--amount {
			@include mobileBodyLarge;
			font-weight: 500;
			margin: 0.5rem 0;
			color: $primary-Black;
		}
		&--date {
			@include mobileBodyMedium;
			// font-weight: 500;
			margin: 0.5rem 0;
			color: $primary-silver;
		}
	}
}
