@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as breakpoint;

.addform {
	&-container {
		// display: flex;
		// flex-direction: column;
		padding: 1rem;
		gap: 0.625rem;
	}
}

.form {
	&-control {
		border: 1px solid $primary-silver;
		border-radius: 0.8rem;
		color: $primary-Black;
		// display: block;
		@include mobileBodyMedium;
		padding: 0.625rem;
		width: 100%;
		margin: 1rem 0 0.5rem;

		&__radio-buttons {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			@include mobileBodyMedium;
			color: $primary-Black;
			margin-bottom: 1rem;
			gap: 5%;

			&--input {
				margin: 0;
			}

			&--income {
				display: flex;
				align-items: center;
				gap: 6%;
			}
			&--expense {
				display: flex;
				align-items: center;
				gap: 6%;
			}
		}
	}
}

.btn_primary {
	@include buttonPrimary;
	@include mobileBodyMedium;
}

/*  MOBILE   */
@include breakpoint.small {
	.addform {
		&-container {
			// display: flex;
			// flex-direction: column;
			padding: 1rem;
			gap: 0.625rem;
		}
	}

	.form {
		&-control {
			border: 1px solid $secondary-cloud;
			border-radius: 0.8rem;
			color: $primary-Black;
			// display: block;
			@include mobileBodyMedium;
			padding: 0.625rem;
			width: 100%;
			margin: 1rem 0 0.5rem;
			outline: none;

			// &:hover {
			// 	background-color: #018abe;
			// }

			&__option {
				width: 100%;

				// padding: 0.625rem;
			}

			// &__radio-buttons {
			// 	display: flex;
			// 	justify-content: flex-start;
			// 	align-items: center;
			// 	@include mobileBodyMedium;
			// 	color: $primary-Black;
			// 	margin-bottom: 1rem;
			// 	gap: 5%;

			// 	&--input {
			// 		margin: 0;
			// 	}

			// 	&--income {
			// 		display: flex;
			// 		align-items: center;
			// 		gap: 6%;
			// 	}
			// 	&--expense {
			// 		display: flex;
			// 		align-items: center;
			// 		gap: 6%;
			// 	}
			// }
		}

		&__error-container {
			margin-top: 0.25rem;
			display: flex;
			align-items: center;
			gap: 0.25rem;
		}
		&__error-icon {
			height: 0.75rem;
		}
		&__error-message {
			@include mobileBodySmall;
			color: $highlight-Red;
		}
	}

	.btn_primary {
		@include buttonPrimary;
		@include mobileBodyMedium;
	}
}
