//primary colors
$primary-Black: #323232;
// $primary-grey: #2e66e5;
$primary-White: #ffffff;
$primary-silver: #afafaf;
$primary-blue: #02457a;
$primary-blue-medium: #018abe;

//secondary colors
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;
$secondary-dark: #000000;

//background colors
$background-Graphite: #232940;
$background-Light-Grey: #f7f8f9;

//supporting colors
$highlight-Green: #00a86b;
$highlight-Red: #ff0000cc;
