@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;

.overview {
	&__section {
		// max-width: 1000px;
		display: flex;
		justify-content: center;
		padding: 1rem 2rem;
	}

	&__balance {
		display: flex;
		flex-direction: column;

		&--title {
			@include mobileBodyLarge;
			color: $primary-silver;
		}

		&--text-good {
			@include mobilePageHeader;
			color: $primary-blue;
		}
		&--text-bad {
			@include mobilePageHeader;
			color: $highlight-Red;
		}
	}
}

.good {
	color: $highlight-Green;
}
.bad {
	color: $highlight-Red;
}
