@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as breakpoint;

.budget-form {
	&__container {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		gap: 0.625rem;
	}

	&__title {
		@include mobileBodyLarge;
		color: $primary-Black;
		font-weight: 700;
	}

	&__label {
		@include mobileLabelsLinksButtons;
		color: $primary-Black;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		margin-top: 1rem;
	}

	&__input {
		border: 1px solid $secondary-cloud;
		border-radius: 0.8rem;
		color: $primary-Black;
		@include mobileBodyMedium;
		padding: 0.625rem 1rem;
		width: 100%;

		&:focus {
			outline: none;
			border: 1px solid $primary-blue;
		}

		&::placeholder {
			color: $primary-silver;
		}
		&--error {
			@extend .budget-form__input;
			border: 1px solid $highlight-Red;
		}
	}

	&__error-container {
		margin-top: 0.25rem;
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}
	&__error-icon {
		height: 0.75rem;
	}
	&__error-message {
		@include mobileBodySmall;
		color: $highlight-Red;
	}

	&__select-container {
		width: 100%;
		overflow: hidden;
		background: url("../../assets/icons/arrow_drop_down-24px.svg") no-repeat top 0.4rem right
			1rem #fff;
	}
	&__select {
		@include mobileBodyMedium;
		// height: 2.25rem;
		width: 100%;
		border-radius: 0.8rem;
		border: 1px solid $secondary-cloud;
		padding: 0.625rem 1rem;
		background: transparent;
		appearance: none;
		color: $primary-Black;
		&:focus {
			outline: none;
			border: 1px solid $primary-blue;
		}
		&::placeholder {
			color: $primary-silver;
		}
	}

	&__select option {
		&:hover {
			background-color: $secondary-cloud;
		}
	}

	&__btn--primary {
		@include buttonPrimary;
		@include mobileBodyMedium;
		font-weight: 700;
		margin: 2rem 0;
		width: 40%;
	}

	&__select-option {
		&:hover {
			background-color: $highlight-Red;
		}
	}
}

/*  MOBILE   */
@include breakpoint.small {
	.budget-form {
		&__container {
			display: flex;
			flex-direction: column;
			padding: 1rem;
			gap: 0.625rem;
		}

		&__btn--primary {
			font-weight: 700;
			margin: 2rem 0;
			width: 100%;
		}
	}
}

/*  TABLET   */
@include breakpoint.medium {
	.budget-form {
		&__container {
			display: flex;
			flex-direction: column;
			padding: 0 3rem;
			gap: 0.625rem;
		}

		&__title {
			@include desktopBodyLarge;
			color: $primary-Black;
			font-weight: 700;
		}

		&__btn--primary {
			@include buttonPrimary;
			@include desktopBodyMedium;
			font-weight: 700;
			margin: 2rem 0;
			width: 40%;
		}
	}
}

/*  	DESKTOP    */
@include breakpoint.large {
	.budget-form {
		&__container {
			display: flex;
			flex-direction: column;
			padding: 0 4rem;
			gap: 0.625rem;
		}

		&__title {
			@include desktopBodyLarge;
			color: $primary-Black;
			font-weight: 700;
		}

		&__btn--primary {
			@include buttonPrimary;
			@include desktopBodyMedium;
			font-weight: 700;
			margin: 2rem 0;
			width: 40%;
		}
	}
}
